/*текст, фон, выделение*/

:root {
    --interactive:              #2196F3;/*цвет текста выделения ссылок при фокусе, акцент*/
    --btn-control:              #FFFFFF;/*цвет текста на кнопке при фокусе */
    --btn:                      #212121;/*цвет теста на кнопке в спокойном состоянии*/ 

    /*Текст*/
    --primary-color:            #757575;/*вторичный цвет текста*/
    --secondary-color:          #212121;/*основной цвет текста*/
    --text-title:               #FFFFFF;/*цвет текста в герое*/                  

    /*Фон*/
    --background:               #E5E5E5;/*цвет основного фона*/
    --background-secondary:     #F5F4FA;/*цвет фона кнопки в спокойном состоянии*/
    --background-dark:          #2F303A;/*цвет фона в футере*/
    --background-light:         #FFFFFF;/*цвет фона в хедере*/
    --background-btn-control:   #2196F3;/*цвет фона на кнопке при фокусе*/
}
html{
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    margin: 0;
    background: var(--background-light);
    color: var(--primary-color);
    letter-spacing: 0.06em;
    font-family: Roboto, sans-serif;
    
}

.hero,
.footer{
    background: var(--background-dark);
}



h1,
h2,
h3,
h4,
h5,
h6,
p,
ul{
    padding: 0;
    margin: 0;
}





/*Header*/
.page-hader .nav{
    display: flex;
    align-items: center;
    width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;
}

.page-hader .main-nav{
    display: flex;
    align-items: center;
}

.page-hader{
    background-color: var(--background-light);
    border-bottom: 1px solid #ECECEC;
}

.page-hader .link{
    position: relative;
}

.site-nav .link::after{
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    display: block;
    width: 100%;
    height: 4px;
    background: var(--interactive);
    border-radius: 2px;
    opacity: 0;
}

.site-nav .current::after{
    opacity: 1;
}



/*Логотип*/
.footer .logo-light{
    color: var(--text-title);
}

.logo-dark{
    color: var(--secondary-color);
}

.logo-link{
    margin-right: 93px;
    font-family: Raleway, sans-serif;
    font-weight: bold;
    font-size: 26px;
    line-height: 1.2;
    text-decoration: none;
    transition:color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.logo-link:hover,
.logo-link:focus{
    color: var(--interactive);
}

.logo-link .logo{ 
    color: var(--interactive);
}  


/*Навигация по сайту*/

.site-nav{
    display: flex;
}

.site-nav .main-nav:not(:last-child){
    margin-right: 50px;
}

.site-nav .link{
    display: block;
    padding-top: 32px;
    padding-bottom: 32px;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    color: var(--secondary-color);
    text-decoration: none;
    transition:color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.site-nav .link:hover,
.site-nav .link:focus{
    color: var(--interactive);
}

.site-nav .current{
    color: var(--interactive);
    opacity: 1;
}


/*Почта и телефон*/
.contacts-box .link{
    color: currentColor;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    text-decoration: none;
    font-style: normal;
    padding-top: 32px;
    padding-bottom: 32px;
    margin: 0;
    transition:color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contacts-box .link:hover,
.contacts-box .link:focus{
    color: var(--interactive);
}

.contacts-box{
    margin-left: auto;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14; 
    text-decoration: none;
    font-style: normal; 
}

.page-hader .contacts-box{
    display: block;
    display: flex;
    justify-content: center;

}
.page-hader .item{
    display: flex;
    display: inline-block;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    fill: currentColor;
}
.contacts-box .item:not(:last-child){
    margin-right: 30px;
}
.page-hader .icon{
    margin-right: 10px;   
}

/*Блок герой*/
.hero{
    padding-top: 200px;
    padding-bottom: 200px;
    max-width : 1600px;
    margin-left: auto;
    margin-right: auto;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-image: linear-gradient(
    rgba(47, 48, 58, 0.4),
    rgba(47, 48, 58, 0.4)
    ),
    url(../images/img22.jpg);
}

.hero .part{
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    color: var(--text-title);
    text-transform: uppercase;
    margin-bottom: 30px;
}

.hero-btn{
    display: inline-block;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 32px;
    padding-right: 32px;
    font-family: Roboto;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.87;
    min-width: 200px;
    background: var(--background-btn-control);
    cursor: pointer;
    color: var(--text-title);
    border-radius: 4px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    transform: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    border: none;
}

.hero-btn:hover,
.hero-btn:focus{
    background-color: #188CE8
}

/*Блок особенности*/

.features{
    padding-top: 94px;
}

.features .icon-features{
    height: 120px;
    background: var(--background-secondary);
    border-radius: 4px;
    margin-bottom: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}


.features .item{
    display: flex;
}
.features .item-list{
    width: 270px;
}

.features .part{
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    text-transform: uppercase;
    margin-bottom: 10px;
    color: var(--secondary-color);
}

.features .content{
    font-size: 14px;
    line-height:1.71;    
}

.features .item-list:not(:last-child){
    margin-right: 30px;
}



/*Блок: - Чем мы занимаемся?*/
.aside .part{
    margin-bottom: 50px;
    font-weight: 700;
    font-size: 36px;
    line-height: 1,17;
    letter-spacing: 0.03em;
    color: var(--secondary-color);
}

.aside .img{
    display: block;
}

.aside .item{
    display: flex;
    justify-content: center;
}

.aside .item-img:not(:last-child){
   margin-right: 30px;
}

.aside .item-list{
    margin-bottom: 50px;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
}

.aside .image-inscription{
    position: relative;
 }

.aside .inscription-title{
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--text-title);
    text-align: center;
 }

.aside .inscription{
    background-color: rgba(47, 48, 58, 0.8);;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
}


/*Блок: - Наша команда*/

.team .list-link{
    display: block;
    height: 44px;
    width: 44px;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 50%; 
    cursor: pointer;
}

.team .list-link:not(:last-child){
    margin-right: 10px;
}

.team .team-item{
    display: flex;
    justify-content: center;
}

.team .team-part{
    display: block;
    width: 270px; 
    background: #FFFFFF;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
}

.team .item-img{
    margin-bottom: 30px;
}

.team .name{
    margin-bottom: 10px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.18;
    letter-spacing: 0.03em; 
    color: var(--secondary-color);  
}

.team .team-part:not(:last-child){
    margin-right: 30px;
}

.team{
    background: var(--background-secondary);
}

.team .item{
    margin-bottom: 50px;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    color: var(--secondary-color);
}

.team .name{
    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
    margin-bottom: 10px;
}

.team .part{
    font-size: 16px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: var(--primery-color);
    margin-bottom: 16px;
}

.team .social-links{
    display: flex;
    margin-bottom: 30px;
    margin-left: 32px;
    margin-right: 32px;
}

.team .list-link{
    cursor: pointer;
    fill: currentColor;
}

.team .list-link:not(:last-child){
    margin-right: 10px;
}

.team-item{
    color: #afb1b8;
}

.team .icon{
    margin-top: 12px;
    fill: currentColor;
}
   
.team .link:hover,
.team .link:focus{
    background-color: var(--interactive);
    color: #FFFFFF;
}
.team .link{
    display: block;
    height: 44px;
    width: 44px;
    border-radius: 50%;
    color: currentColor;
    transition:color 250ms cubic-bezier(0.4, 0, 0.2, 1),background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);  
}

/*Постоянные клиенты*/

.clients .title{
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    color: var(--secondary-color);
    margin-bottom: 50px;
}

.clients .list-clients{
    display: flex;
    color:  #afb1b8;
}

.clients .list-client:not(:last-child){
    margin-right: 30px;
}

.clients .link-client{
    display: inline-block;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 170px;
    height: 92px;
    border: 1px solid #AFB1B8;
    box-sizing: border-box;
    border-radius: 4px;
    cursor: pointer;
    color: currentColor;
    transition:color 250ms cubic-bezier(0.4, 0, 0.2, 1),border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.clients .link-client:hover,
.clients .link-client:focus{
    color: var(--interactive);
    border: 1px solid var(--interactive);
    box-sizing: border-box;
    border-radius: 4px;
    
}

.clients .icon{
    fill: currentColor;
}
.clients .link-client{
    color: currentColor;
}


/*Подвал*/
.address{
    color: var(--text-title);
    font-size: 14px;
    line-height: 1.71;
    font-style: normal;
}

.address .link{
    color: rgba(255, 255, 255, 0.6);
    font-size: 14px;
    line-height: 1.71;
    font-style: normal;
}

.footer{
    padding-top: 60px;;
    padding-bottom: 60px;
}

.footer-section{
    display: flex;
    width: 1200px;
    margin-left: 15px;
    margin-right: 15px;
    /*outline: 2px solid tomato;*/
    margin: 0 auto;
}

.footer .logo-link{
    display: inline-block;
    margin-bottom: 20px;
}

.footer .part{
    margin-bottom: 9px;
}

.footer .list{
    margin-bottom: 9px;
}

.footer .social-links{
    display: flex;
    margin-top: 20px;

}

.footer .appeal{
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--text-title);
}

.footer .list-link:not(:last-child){
    margin-right: 10px;
}

.footer .link-social{
    display: block;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.1);
    transition:background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer .link-social:hover,
.footer .link-social:focus{
    background-color:  var(--interactive);  
    border-radius: 50%;
    width: 44px;
    height: 44px;
}

.footer  .address-box{
    margin-right: 70px;
}
.footer .icon{
    fill: #FFFFFF;
    margin-left: 12px;
    margin-top: 12px; 
}

.footer .sign-box{
    margin-left: 93px;
}

.footer .btn{
    border: none;
    padding: 10px 28px;
    margin-top: 20px;
    min-width: 200px;
    height: 50px;
    
    background: var(--interactive);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;

    font-family: Roboto;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;

    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;
    color: var(--text-title);
    transform: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer .btn:hover,
.footer .btn:focus{
    background-color: #188CE8
}

.sign-form .icon{
    margin-left: 10px;
    margin-top: 0;
 
}
.sign-form{
    display: flex;
}

.sign-form input{
    background-color: var(--background-dark);
    padding: 16px 15px;
    margin-top: 20px;
    margin-right: 12px;
    min-width: 358px;
    height: 50px;
    
    border: 1px solid rgba(255, 255, 255, 0.3);
    box-sizing: border-box;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
    color: var(--text-title);
}


.sign-form input::placeholder{
    font-size: 16px;
    line-height: 1.25;
    display: flex;
    align-items: center;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
}


/*Блок с набором карточек*/
a { 
    text-decoration: none; /* Отменяем подчеркивание у ссылки */
   } 

.preview .padding{
    padding-left: 24px;
    padding-right: 24px;
    padding-top: 20px;
    padding-bottom: 20px;
}

.preview .title{
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    text-align: left;
    color: var(--secondary-color);
}

.preview .part{
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.03em;
    color: var(--primary-color);
    text-align: left;
    text-decoration: none;
}

.preview .title-list{
    display: block;
    width: 370px;
    margin-right: 30px;
    margin-bottom: 30px;
    background: var(--background-light);
    border: 1px solid #EEEEEE;
    box-sizing: border-box;
    cursor: pointer;
    transform: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.preview .title-list:hover,
.preview .title-list:focus{
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.preview .title-list .title-img{
    display: block;
    width: 100%;
    height: auto;
}

.preview .title-list .title{
    margin-bottom: 4px;
}

.preview .title-list:nth-child(3n){
    margin-right: 0;
}

.preview .title-list:nth-last-child(-n + 3){
    margin-bottom: 0px;
}

.item .preview{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.preview  .image{
    position: relative;
    overflow: hidden;
}

.preview .text-inscription{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(33, 150, 243, 0.9);;
    padding-left: 24px;
    padding-right: 24px;
    padding-top: 63px;
    padding-bottom: 63px;
    overflow: auto;
    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.preview-link:hover .text-inscription,
.preview-link:focus .text-inscription  {
    transform: translateY(0);
}

.preview  .text{
    font-size: 18px;
    line-height: 1.6;
    letter-spacing: 0.03em;
    color: var(--text-title);
}


/*Секция*/

.section{
    padding-top: 94px;
    padding-bottom: 94px;
}

.conteiner{
    width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;
}

/*Портфолио*/
.item .btns{
    display: flex;
    justify-content: center;
    margin-bottom: 56px;
}

.item .btn{
    display: block;
    padding-top: 6px;
    padding-bottom: 6px;
    padding-left: 22px;
    padding-right: 22px;
    font-family: Roboto;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.63;
    border: none;
    line-height: 1.87;
    border-radius: 4px;
    background: var(--background-secondary);
    letter-spacing: 0.03em;
    min-width: 73px;
    cursor: pointer;
    color: var(--btn);
    transition:color 250ms cubic-bezier(0.4, 0, 0.2, 1),background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.item .btn:hover,
.item .btn:focus{
    color:var(--btn-control);
    background-color: var(--background-btn-control);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.item .list-btn:not(:last-child){
    margin-right: 8px;
}

/*Модальное окно*/
.backdrop{
    position: absolute;
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0px;
    top: 0px;
    opacity: 1;
    background: rgba(0, 0, 0, 0.2);
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);

}

.backdrop.is-hidden .modal{
    transform: translate(-50%, -50%) scale(1.1);
}

.backdrop.is-hidden{
    opacity: 0;
    pointer-events: none;
    visibility: hidden;
}
.modal{
    position: absolute;
    left: 50%;
    top: 50%;
    
    min-width: 528px;
    min-height: 581px;
    background: #FFFFFF;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;

    transform: translate(-50%, -50%) scale(1);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.close .icon{
    display: block;
    margin: 0 auto;
}

.close{
    position: absolute;
    right: 0;
    top: 0;
    margin-top: 8px;
    margin-right: 8px;
    min-width: 30px;
    min-height: 30px;
    border-radius: 50%;
    background: var(--text-title);
    border: 1px solid rgba(0, 0, 0, 0.1);
    box-sizing: border-box;
}

/*Форма*/

textarea{
    resize: none;
}

.form{
    width: 528px;
    padding: 40px;
    margin-left: auto;
    margin-right: auto;
    background-color: #FFFFFF;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;

}

.form .title{
    margin-bottom: 12px;
    font-weight: 700;
    font-size: 20px;
    line-height: 23px;
    letter-spacing: 0.03em;
    color: var(--secondary-color)
}

.form-field{
    position: relative;
    display: flex;
    flex-direction: column;
    background-color: #FFFFFF;
}


.form .form-input{
    height: 40px;
    margin-bottom: 10px;
    padding: 12px 42px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    outline: none;
    transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-field .form-input:hover,
.form-field .form-input:focus{
    border: 1px solid var(--interactive);
}

.form-field .icon{
    position: absolute;
    height: 40px;
    bottom: 11px;
    left: 12px;
    transform: translate(-50% -50%);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-input:focus ~ .icon{
    fill: var(--interactive);
}

.form-field textarea::placeholder{
    font-size: 12px;
    line-height: 1.16;
    letter-spacing: 0.01em;
    color: rgba(117, 117, 117, 0.5);
}


.form-field label{
    display: block;
    margin-bottom: 4px;
    padding: 0;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.01em;
    color: var(--primary-color);
}

.form-field textarea{
    min-height: 120px;
    padding: 12px 16px;
    margin-bottom: 20px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    box-sizing: border-box;
    border-radius: 4px;
    outline: none;
    transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-field textarea:hover,
.form-field textarea:focus{
    border: 1px solid var(--interactive);
}



.form .btn{
    
    min-width: 200px;
    height: 50px;
    margin-top: 30px;
    padding: 10px 55px;
    background-color: var(--interactive);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    font-family: Roboto;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    color: var(--text-title);
    border: none;
    outline: none;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form .btn:hover,
.form .btn:focus{
    background-color: #188CE8;;
}

.form .button{ 
    text-align: center;
    
}

.label{
    display: flex;
    align-items: center;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--primary-color);
}


.checkbox{
    /*-webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    position: absolute;*/
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1pc;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.icon-check{
    display: inline-block;
    background-repeat: no-repeat;
    background-position: center;
    width: 16px;
    height: 15px;
    border: 2px solid var(--secondary-color);
    border-radius: 2px;
    margin-right: 7px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

}
.checkbox:checked + .icon-check{
    background-color: var(--interactive);
    border-color: var(--interactive);
    background-image: url(../images/checkbox-on.svg);
    background-size: contain;
    background-origin: content-box;
}
.policy-link{
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--interactive);
    margin-left: 3px;
    text-decoration: underline;
}
